<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.tpsconeect" connectionString="Data Source=DESKTOP-UIRD8ES\MAYCHU;Initial Catalog=QLKS;Integrated Security=True" />
    </connectionStrings>
</configuration>